 {{#each data}}
            <div class="overflow-auto">
                <h1>{{name}}</h1>
                {{#if imagepath}}
                <img src="{{imagepath}}" alt="{{name}}" class="float-start me-3 rounded-4">
                {{/if}}
                <div class="text-black-50">{{{description}}}</div>
            </div>
            {{/each}}